body{
    background-color: blueviolet;
}
.shape{

    height: 400px;
    width: 400px;
}
.square{
    background: linear-gradient(rgb(25, 247, 247), rgb(2, 14, 129));
    margin: 100px auto;
    border: 5px solid black;
}
.circle{
    border-radius: 400px;
    margin: 0px auto;
    background-color: rgba(255, 128, 0, 0.7);    
}